{% extends "base.html" %} {% block title %}Mon calendrier{% endblock title %} 

{% block content %}

<div class="mx-5 my-2">


    <div>
        <p class="fs-4 fw-semibold">Demande de rendez-vous</p>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Nom du client</th>
                  <th>Date</th>
                  <th>Horaire</th>
                  <th>Accepter</th>
                  <th>Refuser</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in pending_appointments %}
                <tr>
                    <td>
                        <div>{{ appointment.attende }}</div>
                    </td>
                    <td>
                        <div>{{ appointment.date | date:"D d N Y" }}</div>
                    </td>
                    <td>
                        <div>{{ appointment.start_time | time:"H:i" }} - {{ appointment.end_time | time:"H:i" }}</div>
                    </td>
                    <td>
                        <a href="{% url "accept_appointment" appointment.pk %}" class="btn btn-success btn-sm mx-1">Accepter</a>
                    </td>
                    <td>
                        <a href="{% url "reject_appointment" appointment.pk %}" class="btn btn-danger btn-sm mx-1">Refuser</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="height: 60px"></div>

    <div>
        <p class="fs-4 fw-semibold">Future rendez-vous</p>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Nom du client</th>
                  <th>Date</th>
                  <th>Horaire</th>
                  <th>Annuler</th>
            </thead>
            <tbody>
                {% for appointment in accepted_appointments %}
                <tr>
                    <td>
                        <div>{{ appointment.attende }}</div>
                    </td>
                    <td>
                        <div>{{ appointment.date | date:"D d N Y" }}</div>
                    </td>
                    <td>
                        <div>{{ appointment.start_time | time:"H:i" }} - {{ appointment.end_time | time:"H:i" }}</div>
                    </td>
                    <td>
                        <a href="{% url "cancel_appointment" appointment.pk %}" class="btn btn-outline-danger btn-sm mx-1">Annuler</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
