{% extends "base.html" %} {% block title %}Mon calendrier{% endblock title %} 

{% block content %}

<div class="mx-5 my-2 w-100 ">


    <div>
        <p class="fs-4 fw-semibold">Demande de rendez-vous</p>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Nom du client</th>
                  <th scope="col">Service</th>
                  <th scope="col">Date</th>
                  <th scope="col">Horaire</th>
                  <th scope="col">Accepter</th>
                  <th scope="col">Refuser</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in pending_appointments %}
                <tr>
                    <td>
                        <div class="" style="width: 150px">{{ appointment.attendees.first }}</div>
                    </td>
                    <td>
                        <div class=""  style="width: auto">{{ appointment.service }}</div>
                    </td>
                    <td>
                        <div class=""  style="width: 200px">{{ appointment.date | date:"D d N Y" }}</div>
                    </td>
                    <td>
                        <div class=""  style="width: 110px">{{ appointment.start_time | time:"H:i" }} - {{ appointment.end_time | time:"H:i" }}</div>
                    </td>
                    <td>
                        <a href="{% url "accept_appointment" appointment.pk %}" class="btn btn-success btn-sm mx-1">Accepter</a>
                    </td>
                    <td>
                        <a href="{% url "reject_appointment" appointment.pk %}" class="btn btn-danger btn-sm mx-1">Refuser</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="height: 60px"></div>

    <div>
        <p class="fs-4 fw-semibold">Future rendez-vous</p>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Nom du client</th>
                  <th scope="col">Service</th>
                  <th scope="col">Date</th>
                  <th scope="col">Horaire</th>
                  <th scope="col">Annuler</th>
            </thead>
            <tbody>
                {% for appointment in accepted_appointments %}
                <tr>
                    <td>
                        <div class="" style="width: 150px">{{ appointment.attendees.first }}</div>
                    </td>
                    <td>
                        <div class=""  style="width: auto">{{ appointment.service }}</div>
                    </td>
                    <td>
                        <div class=""  style="width: 200px">{{ appointment.date | date:"D d N Y" }}</div>
                    </td>
                    <td>
                        <div class=""  style="width: 110px">{{ appointment.start_time | time:"H:i" }} - {{ appointment.end_time | time:"H:i" }}</div>
                    </td>
                    <td>
                        <a href="{% url "cancel_appointment" appointment.pk %}" class="btn btn-outline-danger btn-sm mx-1">Annuler</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<!-- 
    <div class="list-group list-group-numbered mx-4">
        <p class="fs-3 fw-semibold">Demande de rendez-vous</p>
        <div class="list-group-item d-flex justify-content-between align-items-start">
            <div class="d-flex ms-2 me-auto">
                <div class="" style="width: 150px">Nom du client</div>
                <div class=""  style="width: auto">Service</div>
            </div>
            <div class=""  style="width: 200px">Date</div>
            <div class=""  style="width: 110px">Horaire</div>
            <p  class="mx-2">Accepter</p>
            <p  class="mx-2">Refuser</p>
        </div>

        {% for appointment in pending_appointments %}
        <div class="list-group-item d-flex justify-content-between align-items-start">
            <div class="d-flex ms-2 me-auto">
                <div class="" style="width: 150px">{{ appointment.attendees.first }}</div>
                <div class=""  style="width: auto">{{ appointment.service }}</div>
            </div>
            <div class=""  style="width: 200px">{{ appointment.date | date:"D d N Y" }}</div>
            <div class=""  style="width: 110px">{{ appointment.start_time | time:"H:i" }} - {{ appointment.end_time | time:"H:i" }}</div>

            <a href="{% url "accept_appointment" appointment.pk %}" class="btn btn-success btn-sm mx-1">Accepter</a>
            <a href="{% url "reject_appointment" appointment.pk %}" class="btn btn-danger btn-sm mx-1">Refuser</a>

        </div>
        {% endfor %}
      </div>

      <div style="height: 60px"></div>

      <div class="list-group list-group-numbered mx-4">
        <p class="fs-3 fw-semibold">Future rendez-vous</p>

        <div class="list-group-item d-flex justify-content-between align-items-start">
            <div class="d-flex ms-2 me-auto">
                <div class="" style="width: 150px">Nom du client</div>
                <div class=""  style="width: auto">Service</div>
            </div>
            <div class=""  style="width: 200px">Date</div>
            <div class=""  style="width: 110px">Horaire</div>
            <p  class="mx-2">Annuler</p>
        </div>

        {% for appointment in accepted_appointments %}
        <div class="list-group-item d-flex justify-content-between align-items-start">
            <div class="d-flex ms-2 me-auto">
                <div class="" style="width: 150px">{{ appointment.attendees.first }}</div>
                <div class=""  style="width: auto">{{ appointment.service }}</div>
            </div>
            <div class=""  style="width: 200px">{{ appointment.date | date:"D d N Y" }}</div>
            <div class=""  style="width: 110px">{{ appointment.start_time | time:"H:i" }} - {{ appointment.end_time | time:"H:i" }}</div>

            <a href="{% url "cancel_appointment" appointment.pk %}" class="btn btn-outline-danger btn-sm mx-1">Annuler</a>

        </div>
        {% endfor %}

      </div> -->

</div>

{% endblock content %}
