{% extends "base.html" %} {% block title %}Mon calendrier{% endblock title %}
{%block content %}

<div class="container d-flex">
  <div class="w-50">
    <div class="card mb-3">
      <div class="card-body m-2 gap-2 ">
        <div class="d-flex justify-content-start align-items-center gap-3">
          <img
            class="rounded d-block"
            src="https://dthezntil550i.cloudfront.net/t4/latest/t42012041046327030017527525/95210b05-41d1-4f57-a146-00a28a2bba81.jpg"
            width="50px"
            height="50px"
            alt="..."
          />
          <p class="fs-4 fw-semibold">{{ owner.last_name }} {{ owner.first_name }}</p>
          {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
        </div>
        <p>
          <table class="table">
            <tbody>
              <tr>
                <td>Métier : </td>
                <td>{{ service_provider.work }}</td>
              </tr>
              <tr>
                <td>Niveau d'étude : </td>
                <td>{{ service_provider.level_of_education }}</td>
              </tr>
              <tr>
                <td>Ville : </td>
                <td>{{ service_provider.town }}</td>
              </tr>
            </tbody>
          </table>
        </p>
        <p class="card-text fs-6 lh-sm mt-2 ">
          {{ service_provider.description }}
        </p>
      </div>
      <hr size="1" />
      <div class="card-body">
        <p class="fs-4 fw-semibold mb-2 ">Disponibilité</p>
        {% for availability in availabilities %}
        <div class="d-flex">
          <p class="mx-2">{{ availability.day_of_week }} : </p>
          <div class="d-flex mx-1 gap-1 ">
            <p>{{ availability.start_time | time:"H\hi " }}</p>
            <p>-</p>
            <p>{{ availability.end_time | time:" H\hi" }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="w-50 p-5">
    <div class="card">
      <div class="card-body">
        <p class="fs-3">Prendre rendez-vous</p>
        <form method="post">
          {% csrf_token %}

          {% comment %} <div class="mb-3">
            <label for="service" class="form-label">Service</label>
            <select
              class="form-select form-select-sm"
              name="service"
              id="service"
            >
              <option selected>One</option>
              <option value="Two">Two</option>
              <option value="Three">Thee</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" name="date" id="date" />
          </div>
          <div class="d-flex justify-content-start gap-4">
            <div class="mb-3">
              <label for="start_time" class="form-label">Début</label>
              <input
                type="time"
                class="form-control"
                name="start_time"
                id="start_time"
              />
            </div>
            <div class="mb-3">
              <label for="end_time" class="form-label">Fin</label>
              <input
                type="time"
                class="form-control"
                name="end_time"
                id="end_time"
              />
            </div>
          </div>

          <input
            name="submit"
            id="submit"
            class="btn btn-primary"
            type="submit"
            value="Demander le rendez-vous"
          /> {% endcomment %}

          <div class="mx-2">
            {{ appointment_form }}

            <!-- {% for form in appointment_form %}
              <div class="my-3">
              {{ form }}
              </div>
            {% endfor %} -->

            <input
              name="submit"
              id="submit"
              class="btn btn-primary"
              type="submit"
              value="Demander le rendez-vous"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
