{% extends "base.html" %} {% block title %}Mon calendrier{% endblock title %}
{%block content %}

<div class="container d-flex mt-4 ">
  <div class="w-50">
    <div class="card mb-3">
      <div class="card-body m-2 gap-2 ">
        <div class="d-flex justify-content-start align-items-center gap-3">
          <img
            class=" rounded-circle d-block"
            src="{{ owner.avatar_url }}"
            width="60px"
            height="60px"
            alt="..."
          />
          <p class="fs-4 fw-semibold">{{ owner.last_name }} {{ owner.first_name }}</p>
        </div>
        <p>
          <table class="table table-sm">
            <tbody>
              <tr>
                <td>Métier : </td>
                <td>{{ service_provider.work }}</td>
              </tr>
              <tr>
                <td>Niveau d'étude : </td>
                <td>{{ service_provider.level_of_education }}</td>
              </tr>
              <tr>
                <td>Ville : </td>
                <td>{{ service_provider.town }}</td>
              </tr>
            </tbody>
          </table>
        </p>
        <p class="card-text fs-6 lh-sm mt-2 ">
          {{ service_provider.description }}
        </p>
      </div>
      <div class="w-100 opacity-25 " style="height: 1px; background: gray;"> </div>
      <div class="mx-4 my-1 ">
        <div class="fs-5 fw-semibold mb-2 row-gap-0 gap-0  ">Disponibilité</div>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Jours</th>
              <th scope="col">Horaires</th>
            </tr>
          </thead>
          <tbody>
            {% for availability in availabilities %}
              {% if availability.day_of_week and availability.end_time %}
                <tr class="">
                  <td class="m-0">{{ availability.day_of_week }} : </td>
                  <td class="d-flex gap-2 ">
                    <p class="m-0">{{ availability.start_time | time:"H\hi " }}</p>
                    <p class="m-0">-</p>
                    <p class="m-0">{{ availability.end_time | time:" H\hi" }}</p>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="w-50 p-5">
    <div class="card">
      <div class="card-body">
        <p class="fs-3">Prendre rendez-vous</p>
        <form method="post">
          {% csrf_token %}
          <div class="mx-2">
            {% for form in appointment_form %}
              <div class="mb-3">
                {{ form.label_tag }} {{ form }} {% if form.errors %}
                <div>
                  {% for error in form.errors %}
                  <li><strong>{{ error|escape }}</strong></li>
                  {% endfor %}
                </div>
                {% endif %} {{ form.errors }}
              </div>
            {% endfor %}
            <input
              name="submit"
              id="submit"
              class="btn btn-primary"
              type="submit"
              value="Demander le rendez-vous"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
