<nav class="navbar navbar-expand-lg bg-body-secondary bg-primary" style="width: 100vw">
  <div class="container-fluid">
    <a class="navbar-brand link-dark " href="{% url "list_service_providers" %}">RDV</a>
    <div class="w-auto " />
    <div class="collapse navbar-collapse mx-4">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active link-dark" aria-current="page" href="{% url "list_service_providers" %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark" href="{% url "my_appointments" %}">Mes rendez-vous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark" href="{% url "edit_calendar" %}">Mon calendrier</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% comment %} <div style="width: 100vw">
  <style>
    .navbar-brand {
      color: #fff !important; /* Couleur du texte à gauche */
    }

    .navbar-nav {
      margin-left: auto;
    }

    .navbar-nav a {
      color: #000;
      text-decoration: none;
      margin-right: 15px;
    }

    .navbar-nav a:hover {
      text-decoration: underline;
    }

    .nav-item.active a {
      background-color: #007bff;
      color: #fff;
      border-radius: 5px;
    }

    .avatar {
      margin-right: 10px;
    }
  </style>
  <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand fs-4 fw-bold " href="#">Nom du Site</a>
      <div class="navbar-nav">
        <a class="nav-link active " href="#">Accueil</a>
        <button type="button" class="btn btn-secondary btn-sm py-1 ">Small button</button>
        <a class="nav-link" href="#">Page 1</a>
        <a class="nav-link" href="#">Page 2</a>
      </div>
    </div>
  </nav>
</div> {% endcomment %}